.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
}

.login-btn {
  padding: 15px 70px;
  /* position:fixed; */
  background: rgb(24, 20, 20);
  color: white;
  font-size: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #333;
}
.input-box {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.input-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.input-contain {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.submit-btn {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    align-self: center;
}

